/*header*/
:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear;
}

/*main*/

.container{
    background-image: linear-gradient(to bottom right, #2481EF 25%, #144A89);
    height: 100vh;
    width: 100vw;
}

#info_diaria{
    width: 45%;
    height: 50vh;
    margin-top: 90px;
    background-color: rgb(255, 0, 0);
    padding: 10%;
}

#barra_lateral{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

#umidade{
    height: 30px;
    
}