/*header*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&display=swap');

:root {
    --cor1: #2481EF;
    --white: #fff;
    --black: #000000;
    --popup: #f8f8f8; 
    --cinzaclaro: #c5c5c5;
    --shadow2: rgba(160, 160, 160, 0.281);
    --shadow1: rgba(134, 134, 134, 0.281);
}

/*main*/


.container_main_principal{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#info_diaria {
    display: flex;
    color: var(--white);
    background-color: aquamarine;
    height: 50%;
    position: relative;
}

#barra_lateral {
    width: 5px;
    background-color: var(--white);
    margin-left: 10px;
    margin-right: 10px;
    height: 98%; /* Ocupa 98% da altura da section */
    align-self: center;
}

#conteudo_diario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: auto 0;
    width: 100%;
}

#umidade_principal {
    height: 10%; 
    display: flex;
}

#time {
    height: 60%; /* Ocupa 60% da altura da section */
}

#conteudo_menor {
    height: 10%; /* Ocupa 10% da altura da section */
    display: flex;
    justify-content: space-between;
}

.conteudo_menor_principal {
    display: flex;
    height: 100%; /* Ocupa 100% da altura de "conteudo_menor" */
}

#date {
    height: 100%; /* Ocupa 100% da altura de "conteudo_menor" */
}

#day {
    height: 80%; /* Ocupa 80% da altura de "conteudo_menor_principal" */
}

#temperatura_principal {
    height: 100%; /* Ocupa 100% da altura de "conteudo_menor" */
}



#diario {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: lightgreen; /* Cor de fundo para visualização */
    height: auto; /* Altura automática para se ajustar ao conteúdo */
    background-color: rgba(0, 0, 0, 0.37);
    padding: 5px 16px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo adicional para visualização */

#info_clima {
    color: white; /* Cor do texto das informações climáticas */
    text-align: center; /* Centraliza o texto */
    display: none;
}


.section_dia{
    width: 100%;
    padding: 0 20px;
   

}

.dia_titulo{
    display: flex;
    justify-content:left;
    align-items: center;
    color: var(--white);
    position: relative;
    padding: 10px 0;
    height: 100%;
    width: 100%;
}

.icon_calendar{
    width: 25px;
    height: 25px;
    color: var(--black);
    margin-right: 15px;
    background-color: aliceblue;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.icon_calendar ion-icon{

}

.dia_titulo h2{
    color: var(--white);
    text-align: left;
}

.barra_horizontal{
    border: 1px solid var(--white);
    width: 99%;
}

.dia{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    position: relative;
    padding: 15px 0;
    height: 100%;
    width: 100%;
}

.data-dia{
    width: 30%;
}

.icon_thermal{
    width: 8%;
    height: 20px;
    color: var(--white);
}

.temperaturas {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 58%;
  }
  
  .temp-barra {
    position: relative;
    width: 100px;
    height: 4px;
    background-color: #ddd;
    border-radius: 2px;
  }
  
  .barra {
    width: 100%;
    height: 100%;
    background-color: #d0d0d0;
  }
  
  .temp-atual-ponto {
    position: absolute;
    top: -5px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
  

#sec_btn_dados {
    position: absolute;
    bottom: 0;
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o posicionamento para o centro */
    width: 100px; /* Defina a largura desejada */
    height: 100px; /* Defina a altura desejada */

    display: flex;
    justify-content: center;
    align-items: center;
}


#btn_dados{
    width: 100%;
    height: 100%;
    border: none;
    background-color: white; /* Cor do botão */
    cursor: pointer;
    
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Sobe 10px */
    }
    100% {
        transform: translateY(0); /* Volta para o ponto original */
    }
}

#btn_dados {
    background-color: #000000; /* Cor de fundo do botão */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: float 2s infinite; 
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Sobe 10px */
    }
    100% {
        transform: translateY(0); /* Volta para o ponto original */
    }
}

#btn_dados:hover {
    background-color: var(--blue); /* Cor ao passar o mouse */
    
    transform: scale(1.1); /* Animação ao passar o mouse */
}



#btn_dados i {
    color: white;
    font-size: 20px;
    transition: all 0.3s ease;
    animation: pulse 1.5s infinite; /* Animação de pulsar contínua */
}

#btn_dados:hover i {
    transform: translateY(5px); /* Animação da seta ao passar o mouse */
}




/*API*/

.section_dia {
    width: 100%; /* Largura total do bloco */
    margin-bottom: 10px; /* Espaçamento inferior */
}

.forecast_day {
    padding: 8px 12px; /* Padding menor */
    margin: 5px 0; /* Margem vertical para espaçamento */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex; /* Flex para alinhar elementos horizontalmente */
    justify-content: space-between; /* Espaço entre os elementos */
    width: 100%; /* Largura total */
    font-size: 14px; /* Tamanho da fonte reduzido */
}

ion-icon {
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

  .section_title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; /* Cor branca para o texto */
  }

  .section_title ion-icon {
    font-size: 2rem;
    color: #fff; /* Cor branca para o ícone */
  }



  /*Parte debaixo*/
#bloco {
    position: absolute;
    top: 100vh; /* Corrigido para iniciar dentro da visualização */
    background-image: linear-gradient(to bottom right, #2481EF 25%, #144A89);
    width: 100%; /* Altura automática para se ajustar ao conteúdo */
    height: 100vh;
    padding: 2%;  /*  Aumentado para melhor espaçamento interno */
    display: flex;
    flex-flow: row wrap; /* Organiza o conteúdo em coluna */
    align-content: space-around;
    justify-content: space-around; /* Centraliza os itens verticalmente */
    box-sizing: border-box; /* Para considerar padding no tamanho total */
}
.bloquinhos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    height: 40vh;
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 25px;
    box-sizing: border-box;
}
.grafico_principal{
    width: 45%;
}
.areatexto{

    width: 70%;
}
.areatexto h1{
    font-size: 25px;
}
.areainterativa{

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}
.areatexto h2{
    font-size: 15px;
}

@media (max-width: 320px){

    /*Main*/
    #bloco{
        padding: 1%;
        height: 100vh;
    }
    .bloquinhos{
        width: 45%;
        height: 22vh;
        border-radius: 15px;
    }
    .grafico_principal{
        width: 95%;
        
    }
    .areatexto h1{
        font-size: 15px;
    }
    .areatexto h2{
        font-size: 10px;
    }
}
@media (min-width: 321px) and (max-width: 375px){
    /*Main*/
    #bloco{
        padding: 1%;
        height: 100vh;
    }
    .bloquinhos{
        width: 45%;
        height: 22vh;
        border-radius: 15px;
    }
    .grafico_principal{
        width: 95%;
        
    }
    .areatexto h1{
        font-size: 15px;
    }
    .areatexto h2{
        font-size: 10px;
    }
}
@media (min-width: 376px) and (max-width: 425px){
    /*Main*/
    #bloco{
        padding: 1%;
        height: 100vh;
    }
    .bloquinhos{
        width: 45%;
        height: 22vh;
        border-radius: 15px;
    }
    .grafico_principal{
        width: 95%;
        
    }
    .areatexto h1{
        font-size: 15px;
    }
    .areatexto h2{
        font-size: 10px;
    }
}
@media (min-width: 426px) and (max-width: 768px){
    /*Main*/
    #bloco{
        height: 100vh;
    }
    .bloquinhos{
        width: 30%;
        height: 30vh;
        border-radius: 15px;
    }
    .bloquinhos:nth-last-child(-n+2) {
        width: 45%;
    }
    .grafico_principal{
        width: 65%;
        
    }
    .areatexto h1{
        font-size: 15px;
    }
    .areatexto h2{
        font-size: 10px;
    }
}
